<div class="formContent">
    <div class="type">
        <label for="item">
            <sup>*</sup>{{label}}
        </label>
        <mat-form-field appearance="fill" class="datePicker">
            <mat-icon>expand_more</mat-icon>
            <mat-select panelClass="matRole" (selectionChange)="changeSelect($event)">
                <mat-option *ngFor="let item of list" [value]="item">
                    <span class="matOption">{{item.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>