@import '../../../../styles.scss';

.formContent {
    label {
        color: #414141;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        sup {
            color: rgb(255, 0, 0);
        }
        .info {
            color: $mainThemeColor;
            mat-icon {
                font-size: 12px;
                height: 11px;
                margin-left: 4px;
                width: 12px;
            }
        }
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .type {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #007ab3;
    }
}

.hint {
    color: #c2c2c2;
    text-align: right;
}