<div class="formContent">
    <div class="type">
        <label for="item">
            <div class="title">
                <sup>*</sup>
                <span>{{label}}</span>
            </div>
            <div class="info">
                <span>假別說明</span>
                <mat-icon >help</mat-icon>
            </div>
        </label>
        <mat-form-field appearance="fill" class="datePicker">
            <mat-icon>expand_more</mat-icon>
            <mat-select panelClass="matRole" (selectionChange)="changeSelect($event)">
                <mat-option *ngFor="let item of list" [value]="item">
                    <span class="matOption">{{item.name}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="hint">剩餘天數14天</div>