table {
    width: 100%;
    th, td {
        text-align: center;
    }
    th {
        border-bottom: 2px solid #000;
    }
}
.mat-elevation-z8 {
    box-shadow: unset;
}

//material
mat-icon.location {
    color: #007ab3;
    font-size: 16px;
    width: 15px;
    height: 15px;
}