.container {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
table {
    width: 720px; // 手機最大寬度ß
    th, td {
        text-align: center;
    }
    th {
        border-bottom: 2px solid #000;
    }
}
.mat-elevation-z8 {
    box-shadow: unset;
}

//material
mat-icon.location {
    color: #007ab3;
    font-size: 16px;
    width: 15px;
    height: 15px;
}