<div class="toggle">
    <span class="apply" [ngClass]="{'toggleActive': isApply}" (click)="isApply=!isApply">申請</span>
    <span class="search" [ngClass]="{'toggleActive': !isApply}" (click)="isApply=!isApply">查詢</span>
</div>

<!-- form表單 -->
<app-application-form *ngIf="isApply"></app-application-form>


<ng-container *ngIf="!isApply">

    <ng-container *ngIf="isExpand">
        <div class="datePicker">
            <app-datepicker [label]="'請假開始日'"></app-datepicker>
            <app-datepicker [label]="'請假結束日'"></app-datepicker>
            <app-select [list]="dayOffList" [label]="'申請類別'"></app-select>
        </div>

        <div class="search">
            <span class="button">查詢</span>
        </div>
    </ng-container>

    <app-collapse (click)="isExpand=!isExpand" [isExpand]="isExpand"></app-collapse>

    <app-table></app-table>
</ng-container>
<!-- form表單 -->

<div class="submit" *ngIf="isApply">
    <span class="save" (click)="submit(false)">暫存</span>
    <span class="submited" (click)="submit(true)">提交申請</span>
</div>