// 申請/查詢 切換
.toggle, .submit{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 31px;
    .apply{
        border: 2px solid #007ab3;
        border-radius: 4px 0px 0px 4px;
        color: #007ab3;
        cursor: pointer;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 109px;
    }
    .search {
        border-bottom: 2px solid #007ab3;
        border-right: 2px solid #007ab3;
        border-radius: 0px 4px 4px 0px;
        border-top: 2px solid #007ab3;
        color: #007ab3;
        cursor: pointer;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 109px;
    }
    .toggleActive {
        background-color: #007ab3;
        color: #fff;
    }
}

.datePicker {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    *{
        width: 30%;
    }
}

.search {
    display: block;
    text-align: right;
    .button {
        background-color: #007ab3;
        border: 2px solid #007ab3;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        width: 120px;
        cursor: pointer;
    }
}

.submit{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 31px;
    .save, .submited {
        border: 2px solid #007ab3;
        color: #007ab3;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 109px;
        cursor: pointer;
        border-radius: 4px;
    }
    :nth-child(1) {
        background-color: #007ab3;
        color: #fff;
        margin-right: 20px;
    }
}

.line {
    cursor: pointer;
    display: flex;
    .lineLeft, .lineRight {
        background-color: #c2c2c2;
        height: 1px;
        margin: 40px 0px;
        position: relative;
        width: 50%;
        &::before,
        &::after {
            background-color: #c2c2c2;
            content: "";
            height: 1px;
            line-height: 1px;
            position: absolute;
            top: 0;
            width: 50%;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
    .text {
        margin: 33px 10px 33px 0px;
        width: 30px;
    }
    mat-icon {
        font-size: 16px;
        height: 20px;
        margin: 30px 5px 30px 5px;
        line-height: 20px;
        text-align: center;
        width: 20px;
    }
}

