<div class="form">
    <div class="select">
        <app-select [list]="dayOffList" [label]="defaultLabel" (emitSelectData)="emitSelectData($event)"></app-select>
        <ng-container *ngFor="let item of selectOption">
            <ng-container [ngSwitch]="item">
                <ng-container *ngSwitchCase="item === '族別' || item === '親屬關係' ? item : '' ">
                    <app-select [label]="item"></app-select>
                </ng-container>
                <ng-container *ngSwitchCase="'眷屬身故日'">
                    <app-datepicker [label]="item"></app-datepicker>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <app-datepicker [label]="item"></app-datepicker>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>

    <div class="datepicker">
        <app-datepicker [label]="'請假開始日'"></app-datepicker>
        <app-datepicker [label]="'請假結束日'"></app-datepicker>
    </div>
    <div class="textarea">
        <label for="story">
            <sup>*</sup>請假事由</label>
        <textarea id="story" name="story" rows="5" cols="33"></textarea>
    </div>

    <div class="upload">
        <p>
            附件
            <span>(格式限 jpg、png，檔案大小限制在5MB以內，最多上傳3個檔案)</span>
        </p>
        <div class="note">
            <sup>*</sup>
            <span>OO假須收據證明文件</span>
        </div>
        <label for="file">上傳附件</label>
        <input type="file" name="file" id="file" hidden>
    </div>
</div>