<div class="form">
    <app-select></app-select>
    <div class="datepicker">
        <app-datepicker></app-datepicker>
        <app-datepicker></app-datepicker>
    </div>
    <div class="textarea">
        <label for="story">
            <sup>*</sup>請假事由</label>
        <textarea id="story" name="story" rows="5" cols="33"></textarea>
    </div>

    <div class="upload">
        <p>附件</p>
        <label for="file">上傳附件</label>
        <input type="file" name="file" id="file" hidden>
    </div>
</div>



<!-- <mat-form-field appearance="fill">
    <input matInput [matDatepicker]="picker" placeholder="請選擇" (click)="picker.open()">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->