.form {
    margin-top: 20px;
    sup {
        color: red;
    }
    .datepicker {
        display: flex;
        width: 100%;
        app-datepicker {
            width: 50%;
            &:nth-child(1) {
                padding-right: 20px;
                box-sizing: border-box;
            }
        }
    }
    app-select {
        display: block;
        margin-top: 30px;
        &:nth-child(odd){
            margin-right: 20px;
            width: calc(50% - 20px);
        }
        &:last-child{
            select {
                width: calc(100% - 20px);
            }
        }
        &:not(:nth-child(1),:nth-child(2)){
            margin-top: 8px;
        }
    }
    .textarea, .upload{
        display: flex;
        flex-direction:column;
        justify-content: start;
        margin-top: 8px;
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    .upload {
        margin-top: 30px;
        p {
            text-align: left;
            margin-bottom: 6px;
        }
        label {
            background-color: #007ab3;
            color: #fff;
            display: block;
            font-size: 13px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            width: 88px;
        }
    }
}


