// material 客製化
::ng-deep .monthPicker .mat-calendar-body-selected {
    background-color: #006192;
}

::ng-deep .datePicker{
    .mat-datepicker-toggle{
        color:#006192;
    }
    .mdc-line-ripple::after {
        border-bottom-color:#006192;
    }
    .mdc-text-field{
        padding: unset;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background-color: #fff;
    }
    .mat-mdc-form-field-focus-overlay {
        background-color: #fff;
    }
    .mat-mdc-icon-button.mat-mdc-button-base {
        padding: 0px;
        width: 24px;
        height: 24px;
    }
    .mat-mdc-icon-button .mat-mdc-button-touch-target {
        width: unset;
        height: unset;
    }
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
        padding: 2px;
    }
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix{
        padding: 2px     ;
    }
    .mat-mdc-form-field-infix, .mat-mdc-form-field-infix {
        min-height: unset;
    }
    .mat-mdc-icon-button {
        --mat-mdc-button-persistent-ripple-color: none;
        --mat-mdc-button-ripple-color: none;
    }
    .mat-mdc-select-arrow svg{
        display: none;
    }
    mat-icon {
        position: absolute;
        right: 0px;
    }
}