// title style
h2 {
    align-items: top;
    color: #414141;
    display: inline-flex;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
    &::before {
        background-image: linear-gradient(to bottom,#003781 60%,#007D8C 40%);
        display: inline-block;
        content: " ";
        height: 1.5rem;
        margin-left: 6px;
        margin-right: 10px;
        min-width: 4px;
        position: relative;
        text-align: start;
        top: 0;
        vertical-align: top;
    }
}

// Mat label style
.labelStyle {
    color: #007ab3;
}
.mdc-tab-indicator__content {
    border-color: #007ab3 !important;
}
.mat-mdc-tab-labels {
    border-bottom: 1px solid #007ab3;
}
.mdc-tab__ripple::before{
    background-color: #fff;
}

// scroll style
::-webkit-scrollbar {
    height: 6px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #d8d8d8;
}

::-webkit-scrollbar-thumb:hover {
    background: #d8d8d8;
}