/* You can add global styles to this file, and also import other style files */
@import "./app/styles/global.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$mainThemeColor: #006192;

body {
    background-color: #fff;
    margin: 0px;
    font-family: NotoSansTCRegular;
    font-size: 12px;
}

p {
    margin: 0px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.67px;
    text-align: center;
}

// title style
h2 {
    align-items: top;
    color: #414141;
    display: inline-flex;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
    line-height: normal;
    text-align: left;
    white-space: nowrap;
    &::before {
        background-image: linear-gradient(to bottom,#003781 60%,#007D8C 40%);
        display: inline-block;
        content: " ";
        height: 1.5rem;
        margin-left: 6px;
        margin-right: 10px;
        min-width: 4px;
        position: relative;
        text-align: start;
        top: 0;
        vertical-align: top;
    }
}

.confoirm, .close {
    background-color: #007ab3;
    color: #fff;
    cursor: pointer;
}

.save, .submited, .no {
    border: 2px solid #007ab3;
    color: #007ab3;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 109px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
}

.closeDialog {
    color:#4a4a4a;
    cursor: pointer;
    float: right;
    outline: none;
    clear: both;
}

// -----material 客製化-----
// mat-form-field
.datePicker{
    .mat-datepicker-toggle{
        color:#006192;
    }
    .mdc-line-ripple::after {
        border-bottom-color:#006192;
    }
    .mdc-text-field{
        padding: unset;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background-color: #fff;
    }
    .mat-mdc-form-field-focus-overlay {
        background-color: #fff;
    }
    .mat-mdc-icon-button.mat-mdc-button-base {
        padding: 0px;
        width: 24px;
        height: 24px;
    }
    .mat-mdc-icon-button .mat-mdc-button-touch-target {
        width: unset;
        height: unset;
    }
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
        padding: 2px;
    }
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix{
        padding: 2px     ;
    }
    .mat-mdc-form-field-infix, .mat-mdc-form-field-infix {
        min-height: unset;
    }
    .mat-mdc-icon-button {
        --mat-mdc-button-persistent-ripple-color: none;
        --mat-mdc-button-ripple-color: none;
    }
    .mat-mdc-select-arrow svg{
        display: none;
    }
    mat-icon {
        position: absolute;
        right: 0px;
    }
    .mat-pseudo-checkbox-checked::after {
        color: $mainThemeColor;
    }
    // Tab
    .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
        border-color: $mainThemeColor;
    }
    .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
        color: $mainThemeColor;
    }
    .mat-mdc-tab{
        &:hover {
            background: rgb(0, 123, 179, .1);
        }
    }
    // Tab
}

// panalClass
.matRole {
    // calendar
    .mat-calendar-body-selected {
        background-color: $mainThemeColor;
    }
    .mat-calendar-body-cell {
        :hover
            &.mat-calendar-body-cell-content {
                background-color: $mainThemeColor;
        }
    }
    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
        .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
            background-color: rgba(0, 0, 0, 0.3);
    }
    // calendar
    // select
    .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
        color: $mainThemeColor;
    }
    .matOption {
        color: rgba(0, 0, 0, 0.87);
    }
    // select
}

// Dialog
.padding-dialog .mat-mdc-dialog-surface {
    padding: 20px 30px;
}
// -----material 客製化-----


